body {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    background-color: white;
}

.visualization-container {
    overflow-y: hidden;
    overflow-x: scroll;
    align-items: center;
    background-color: white;
    margin: auto;
    color: black;
    margin: auto;
}

#full-temporal-visualization-container {
    width: 60%;
}

#city-day-visualization-container {
    width: 60%;
}

.visualization-container .row svg {
    width: 50%;
    aspect-ratio: 1 / 1;
    margin: 0;
}

.visualization {
    margin: auto;
    display: block;
}

.notable-event-circles {
    fill-opacity: 0.1;
}

.column {
    width: 60%;
    margin: auto;
    display: block;
    padding: 1%;
}

.row {
    display: flex;
    align-items: center;
}

.row img {
    height: 100%;
    width: 100%;
    margin: 1%;
}

p {
    width: 80%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

p.caption {
    width: 50%;
}

#tooltip {
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    padding: 8px;
    color: #111111;
    font-size: small;
}

.axis line {
  stroke: #a5a5a5;
  shape-rendering: crispEdges;
}

@media screen and (max-width: 1680px) {
    .column {
        width: 70%;
    }

    #full-temporal-visualization-container {
        width: 80%;
    }

    #city-day-visualization-container {
        width: 80%;
    }
}

@media screen and (orientation: portrait) and (max-width: 1280px) {
    .column {
        width: 90%;
    }

    p {
        width: 100%;
    }

    img {
        width: 80%;
        margin-left: 10%;;
    }

    p.caption {
        width: 75%;
    }

    #full-temporal-visualization-container {
        width: 90%;
    }

    #city-day-visualization-container {
        width: 90%;
    }
}

@media screen and (orientation: portrait) and (max-width: 736px) {
    .column {
        width: 95%;
    }

    img {
        width: 95%;
        margin-left: 2.5%;;
    }

    p.caption {
        width: 90%;
    }

    #full-temporal-visualization-container {
        width: 98%;
    }

    #city-day-visualization-container {
        width: 98%;
    }
}